<div class="col-md-3">
  <!--Left Sidebar-->
  <div class="col-md-12" style="text-align:left;margin-top:35px;border: 4px solid #66BAB7;border-radius: 20px;">
    <div class="center-block" style="text-align:center">
      <% if @profile.user.avatar.present? %>
          <div class="avatar-border" style= "border:3px solid black;border-radius:50%;height:200px;margin-top:30px;width:200px;margin-left:8px">
          <%= image_tag ("avatars/#{@profile.user.avatar.filename}"),class: "img-responsive col-md-12" ,style: "padding: 0px;"%>
          </div>
      <br>
      <%end%>
      <h1 style="margin:20px 0px;font-size: 24px;color: #383F51;letter-spacing: 1px;position:relative;top:8px;"><%= @profile.nickname %></h1>

      <div>
      <% if @friendship.present? %>
        <h2 class="heading-xs" style="color:#258EA6;margin-left:-122px">好感度 <span class="pull-right"><%= @friendship.love_level %>%</span></h2>
        <div class="progress progress-u progress-xxs">
          <div style="width: <%= @friendship.love_level %>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
          </div>
        </div>
      <% end %>
      </div>

    </div>

    <hr class="hr-xs">

    <div style="color: #66BAB7;position:relative;left:2vw;">

      <span style="font-size: 18px;letter-spacing: 0px;">
      <strong>&nbsp;年紀:</strong>
        <span style="position: relative;left: 2vw;">
        <%= @profile.age %>
        </span>
      </span>
    </div>

    <hr class="hr-xs">

    <div style="color: #66BAB7;position:relative;left:2vw;">

      <span style="font-size: 18px;color: #66BAB7;letter-spacing: 0px;"">
      <strong>&nbsp;性別:</strong>
        <span style="position: relative;left: 2vw;">
        <%= @profile.sex %>
        </span>
      </span>
    </div>

    <hr class="hr-xs">

    <div style="color: #66BAB7;position:relative;left:2vw;">

      <span style="font-size: 18px;letter-spacing: 0px;">
      <strong>&nbsp;關係:</strong>
        <span style="position: relative;left: 2vw;">
        <%= @profile.relation %>
        </span>
      </span>
    </div>
    <hr class="hr-xs">

    <div style="color: #66BAB7;position:relative;left:2vw;">

      <span style="font-size: 18px;letter-spacing: 0px;"><strong>&nbsp;地點:</strong>
        <span style="position: relative;left: 2vw;">
        <% if @profile.location.present? %>
          <%= @profile.location.name %>
          <% else %>
          尚未填寫
        <% end %>
        </span>
      </span>
    </div>
    <hr class="hr-xs">

    <div style="color: #66BAB7;position:relative;left:2vw;">

      <span style="font-size: 18px;letter-spacing: 0px;">
      <strong>&nbsp;連結:</strong>

        <span style="position: relative;left: 2vw;">
              <% if @profile.show_facebook?(@friendship) %>
              <span class="popovers" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= @profile.facebook_link %>">
                  <span><%= image_tag ("facebook2.png"),style: "max-width: 30px;" %> <!-- 權限:<%= @profile.facebook_access_level %> --></span>
              </span>
              <% end %>

              <% if @profile.show_line?(@friendship) %>
              <span class="popovers" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= @profile.line_account %>">
                  <span><%= image_tag ("line2.png"),style: "max-width: 30px;" %> <!-- 權限:<%= @profile.line_access_level %> --></span>
              </span>
              <% end %>

              <% if @profile.show_wechat?(@friendship) %>
              <span class="popovers" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= @profile.wechat_account %>">
                  <span><%= image_tag ("wechat2.png"),style: "max-width: 30px;" %> <!-- 權限:<%= @profile.wechat_access_level %> --></span>
              </span>
              <% end %>
        </span>

      </span>
    </div>
    <hr class="hr-xs">
  </div>
  <!--End Left Sidebar-->

  <div class="col-md-12" style="text-align:left;margin-top:15px;border: 4px solid #66BAB7;border-radius: 20px;">
    <p style="color:#66BAB7;font-size:18px;position:relative;left:2vw;top:1vh">&nbsp;興趣:</p>

    <hr class="hr-xs">

    <div class="panel-body" style="padding:0px;margin-left:2em">
       <ul class="list-inline tags-v2 margin-bottom-10">
       <% @profile.hobbies.each do |h| %>
         <li>
          <a style="border: 2px solid #66BAB7;border-radius: 5px;" href="#"><%= h.name %></a></li>
       <% end %>
       </ul>
    </div>
  </div>


</div>

