
  <div id="list-card" class="col-md-6">
    <div class="col-md-6">
      <h3>  <%= link_to profile.nickname, profile_path(profile) %></h3>
      <p>
      <%= link_to "#" do %>
        <%= image_tag("heart_before.png") %>
      <% end %>
      </p>
      <p>
      <% profile.hobbies.each do |h|%>
        <%= link_to h.name ,"#", :class => "list-card-hobby btn" %>
      <% end %>
      </p>
    </div>
    <div class="col-md-6">
      <%if profile.user.avatar.present?%>
        <div class="avatar-border">
          <%= image_tag ("avatars/#{profile.user.avatar.filename}"), style: "width: 100%;" %>
        </div>
      <%end%>
    </div>
    <div class="clearfix"></div>


    <% profile.get_lasest_3_answers.each do |answer|%>
      <div class="list-card-qa">
        <hr>
        <div class="col-md-1">
          <p><%= image_tag "Q_icon" %></p>
        </div>
        <div class="col-md-11">
          <p><%= answer.question.content %></p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-1">
          <p><%= image_tag "A_icon" %></p>
        </div>
        <div class="col-md-11">
          <p><%= answer.content %></p>
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>
  </div>


