<%= link_to "新增個人檔案", new_profile_path, class: "btn btn-default" %>
<table class="table">
  <thead>
    <tr>
      <th>暱稱</th>
<!--       <th>Avatar</th>
      <th>Photos</th>
 -->    </tr>
  </thead>
  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile.nickname, profile_path(profile) %></td>
<!--         <td>
          <% if profile.avatar.exists? %>
            <%= image_tag(profile.avatar.url(:medium)) %>
          <% else %>
            No Image
          <% end %>
        </td>
        <td>
          <% if profile.photos.exists? %>
            <% profile.photos.each do |image| %>
              <%= image_tag image.photo.url(:medium) %>
            <% end %>
          <% else %>
            No Photos.
          <% end %>
        </td>
 -->        <td>
          <%= link_to "編輯", edit_profile_path(profile), class: "btn btn-default" %>
        </td>

        <td>
          <%= link_to "刪除", profile_path(profile), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
