    <%= render :partial => "topbar" %>
    <%= render :partial => "left_sidebar" %>

    <div class="col-md-9 profile">
      <div class="profile-body">
        <div class="panel panel-profile">
          <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="fa fa-users"></i>個人資料</h2>
          </div>

          <!-- Profile Content -->
              <div class="profile-bio">
                <div class="row">
                  <div class="col-md-5">

                    <% if @profile.user.avatar %>
                      <%= image_tag ("avatars/#{@profile.user.avatar.filename}"), style: "height:280px ; width:280px" %><br>
                    <%end%>
                    <% if current_user == @profile.user && @profile.photos.exists? %>
                      <% @profile.photos.each do |image| %>
                        <%= image_tag image.photo.url(:medium) %>
                      <% end %>
                    <% else %>
                      沒有照片
                    <% end %>

                    <div>
                    <%= audio_tag @profile.sound.url, controls: "controls", alt: "Please use chrome, ie, or safari", preload: :auto,style: "margin-top:-30px",class: "col-md-12" %>
                    </div>
                  </div>
                  <div class="col-md-7" style="padding-left:20px">
                    <h2><%= @profile.nickname %></h2>
                    <span><strong>年齡:</strong> <%= @profile.age %></span>
                    <span><strong>性別:</strong> <%= @profile.sex %></span>
                    <span><strong>關係:</strong> <%= @profile.relation %></span>
                    <% if @profile.location.present? %>
                      <span><strong>位置:</strong>
                      <%= @profile.location.name %>
                    <% end %>
                    <!--  -->
                    <div>
                    <% if @friendship.present? %>
                      <h3 class="heading-xs">好感度 <span class="pull-right"><%= @friendship.love_level %>%</span></h3>
                      <div class="progress progress-u progress-xxs">
                        <div style="width: <%= @friendship.love_level %>%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                      </div>
                    <% end %>
                    </div>
                    <!--  -->
                    <hr class="hr-xs">
                    <p style="word-break:break-all; width:34vw;"> <%= @profile.aboutme %></p>
                  </div>
                </div>
              </div><!--/end row-->

              <div class="row">
                <!--Social Icons v3-->
                <div class="col-sm-6 sm-margin-bottom-30" style="padding:3px 2px 3px 15px;background:#f7f7f7">
                  <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                      <h2 class="panel-title heading-sm pull-left"><i class="fa fa-pencil"></i> 興趣</h2>
                      <a href="#"><i class="fa fa-envira pull-right"></i></a>
                    </div>

                    <div class="panel-body" style="height: 150px;">
                      <ul class="list-inline tags-v2 margin-bottom-50">
                      <% @profile.hobbies.each do |h| %>
                        <li><a href="#"><%= h.name %></a></li>
                      <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--End Social Icons v3-->

                <!--Skills-->
                <div class="col-sm-6 sm-margin-bottom-30" style="padding:3px 15px 3px 2px;background:#f7f7f7">
                  <div class="panel panel-profile">
                    <div class="panel-heading overflow-h">
                      <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> 專業</h2>
                      <a href="#"><i class="fa fa-cog pull-right"></i></a>
                    </div>

                    <div class="panel-body" style="height: 150px;">
                      <ul class="list-inline tags-v2 margin-bottom-50">
                        <% @profile.professions.each do |p| %>
                          <li><a href="#"><%= p.name %></a></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--End Skills-->
              </div><!--/end row-->

              <!--Timeline-->
              <div class="panel panel-profile" style="background:#f7f7f7">
                <div class="panel-heading overflow-h">
                  <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> 社交資料</h2>
                  <a href="#"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <div class="panel-body" style="background:white">
                  <ul class="list-unstyled social-contacts-v2">
                    <button type="button" class="popovers btn-u btn-brd-width-2 rounded btn-u-sea btn-u-lg" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= @profile.facebook_link %>" style="margin-right:5px" >
                      <% if @profile.show_facebook?(@friendship) %>
                        <span><%= image_tag ("Facebook.png"),style: "max-width: 30px;margin-right: 2px" %> 權限:<%= @profile.facebook_access_level %></span>
                      <% end %>
                    </button>
                    <button type="button" class="popovers btn-u btn-brd-width-2 rounded btn-u-sea btn-u-lg" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= @profile.line_account %>" style="margin-right:5px" >
                      <% if @profile.show_line?(@friendship) %>
                        <span><%= image_tag ("Line.png"),style: "max-width: 30px;margin-right: 2px" %> 權限:<%= @profile.line_access_level %></span>
                      <% end %>
                    </button>
                    <button type="button" class="popovers btn-u btn-brd-width-2 rounded btn-u-sea btn-u-lg" data-container="body" data-toggle="popover" data-placement="top" data-content="<%= @profile.wechat_account %>">
                      <% if @profile.show_wechat?(@friendship) %>
                        <span><%= image_tag ("Wechat.png"),style: "max-width: 30px;margin-right: 2px" %> 權限:<%= @profile.wechat_access_level %></span>
                      <% end %>
                    </button>
                  </ul>
                </div>
              </div>
              <!--End Timeline-->

              <!-- QA -->
              <div class="panel panel-profile" style="background:#f7f7f7">
                <div class="panel-heading overflow-h" style="border-top: solid 3px #f7f7f7;">
                  <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> 問答說明</h2>
                  <a href="#"><i class="fa fa-cog pull-right"></i></a>
                </div>

                <!--=== Profile ===-->
                  <div class="row">
                    <!-- Profile Content -->
                    <div class="col-md-12" style="">
                      <!-- Edit Q&A -->
                      <div id="QA_block">
                        <%= render partial: "answers/QA_block" %>
                      </div>
                      <%= link_to "取消", profile_path(@profile), class: "btn btn-default btn-sm" %>
                      <!-- End Edit Q&A -->
                      <!-- General Questions -->
                      <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
                        <% @profile.answers.each do |answer| %>
                        <% if answer.question.present? %>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= answer.id %>" aria-expanded="false" aria-controls="<%= answer.id %>">
                              <%= answer.question.content %>
                              </a>
                              <ul class="nav navbar-nav navbar-right", style="margin-right: 0px; margin-top: -27px" >

                                <% if @profile.is_current_user?(current_user) %>
                                  <li>
                                    <%= link_to profile_path(@profile, aid: answer.id) do %>
                                      <i class="fa fa-pencil"></i>
                                    <% end %>
                                  </li>
                                  <li>
                                    <%= link_to profile_answer_path(@profile, answer), method: :delete do %>
                                      <i class="fa fa-times"></i>
                                    <% end %>
                                  </li>
                                <% else %>

                                  <% if answer.liked?(current_user) %>
                                    <li>
                                      <%= link_to like_path("#"), class: "disabled" do %>
                                        <i class="fa fa-heart"></i>
                                      <% end %>
                                    </li>
                                  <% else %>
                                    <li>
                                      <%= link_to like_path(friendship_id: @friendship.id, answer_id: answer.id), method: :post do %>
                                        <i class="fa fa-heart-o"></i>
                                      <% end %>
                                    </li>
                                  <% end %>

                                <% end %>
                              </ul>
                            </h4>
                          </div>
                          <div id="<%= answer.id %>" class="panel-collapse collapse in">
                            <div class="panel-body">
                              <%= answer.content %>
                            </div>
                          </div>
                        <% end %>
                        <% end %>
                        </div>
                      </div><!--/acc-v1-->
                      <!-- End General Questions -->

              </div>
              <!-- End QA -->
              </div><!--/end row-->
          <!-- End Profile Content -->
          <!-- End Profile -->
        </div>
      </div>
    </div>
