<!DOCTYPE html>
<html lang="zh-hant-tw">
<head>
  <title>DIIP 慢慢來，比較快</title>
  <meta charset="utf-8">
  <meta property="og:url" content="https://5c94b552.ngrok.io/" >
  <meta property="og:type" content="website" >
  <meta property="og:title" content="DIIP 慢慢來 比較快" >
  <meta property="og:description" content="DIIP， 一個陪伴使用者與陌生人建立關係的產品，我們鼓勵使用者，做最真實的自己。不同於一般使用照片作為敲門磚的交友軟體，我們讓使用者舒適的表達自我，用內在作為兩者溝通的橋樑。" >
  <%= tag :meta, property: 'og:image', content: asset_url('header.jpg') %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag "favicon.ico", type: 'image/png'%>

  <!-- Market -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-78766098-3', 'auto');
    ga('require','displayfeatures');
    ga('send', 'pageview');

  </script>
  <script>
          $(document).ready(function(){
              $("#about").on('click',function(){
                  ga("send","event","button","aboutclick","click")
              });

              $("#services").on('click',function(){
                  ga("send","event","button","servicesclick","click")
              });

              $("#portfolio").on('click',function(){
                  ga("send","event","button","portfolioclick","click")
              });

              $("#contact").on('click',function(){
                  ga("send","event","button","contactclick","click")
              });
              $("#submit").on('click',function(){
                  ga("send","event","button","clickcon","conversation")
              });


          })

  </script>

  <script>
      var a = 0;

      $(document).on('scroll',function(){
      var height = $('#intro').outerHeight() + $('#about').outerHeight() + $('#services').outerHeight() + $('#portfolio').outerHeight();
      if (($(document).scrollTop() > height)  && a ==0 ) {
      ga('send','pageview');
      a = 1
      }
      })
  </script>

  <script>
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');

      fbq('init', '604679973043650');
      fbq('track', "PageView");
      </script>
  <noscript>
      <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=604679973043650&ev=PageView&noscript=1"
      />
  </noscript>
  <!-- Hotjar Tracking Code for http://www.diip.com.tw -->
  <!-- Hotjar Tracking Code for http://www.diip.com.tw -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:243174,hjsv:5};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <!-- End Market -->
</head>

<body class="header-fixed">
  <div class="wrapper">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-transparent header-dark-dropdown header-sticky">
      <!-- Navbar -->
      <div class="navbar mega-menu" role="navigation">
        <div class="container col-md-12">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="menu-container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a href="#">
                <%= image_tag ("diip_logo.png"), class: "default-logo", style: "border-color: #FFF3D8; border: 2px" %>
                <%= image_tag ("diip_logo.png"), class: "shrink-logo", style: "border-color: #FFF3D8; border: 2px" %>
              </a>
            </div>
            <!-- ENd Navbar Brand -->
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-responsive-collapse">
            <div class="menu-container">
              <ul class="nav navbar-nav ">
                <!-- Nav -->
                <li class="dropdown active">
                  <a href="#diip_email">馬上加入</a>
                </li>
                <li class="dropdown active">
                  <a href="#diip_story">使用情境</a>
                </li>
                <li class="dropdown active">
                  <a href="#diip_feature">產品特色</a>
                </li>
              </ul>
            </div>
          </div><!--/navbar-collapse-->
        </div>
      </div>
      <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    <!--=== Full Height Text Rotater ===-->
    <div class="fullscreen-static-image1 fullheight bg-color-darker">
      <div class="container valign__middle text-center">
        <span class="promo-text-v1 color-dark animated fadeInDown wow margin-bottom-10" data-wow-duration="1.5s" data-wow-delay=".5s">
          DIIP 走進你的心
        </span>
        <h2 class="promo-text-v2 color-dark cd-headline letters type margin-bottom-30">
          就是喜歡
          <span class="cd-words-wrapper">
            <b class="is-visible">任性做自己</b>
            <b>認識新朋友</b>
            <b>聽到好故事</b>
          </span>
        </h2>
        <div class="cd-log_reg animated fadeInUp wow" data-wow-duration="1.5s" data-wow-delay="1s">
          <a href="#diip_feature" class="btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light-grey btn-u-block rounded-4x margin-right-10">瞭解更多</a>
          <a href="javascript:void(0);" class="cd-signin btn-u btn-brd btn-brd-width-2 btn-brd-hover btn-u-light-grey btn-u-block rounded-4x">開始體驗</a>
        </div>
      </div>
    </div>
    <!--=== End Full Height Text Rotater ===-->

    <section id="diip_feature" >
    <div class="call-action-v2 parallaxBg">
      <div class="container" style="margin-bottom: 40px">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h1 class="section-heading">特色系統</h1>
              </div>
          </div>
      </div>
      <div class="container" style="width: 85%">
          <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-eye-slash text-primary sr-icons  margin-bottom-10"></i>
                      <h2>矇眼系統</h2>
                      <p class="text-muted">真正重要的事情是用眼睛看不到的，矇眼系統讓雙方只在好感度到達一定標準，才會解鎖照片，讓你不再錯過真正適合你的人！</p>

                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-gamepad text-primary sr-icons  margin-bottom-10"></i>
                      <h2>互動任務</h2>
                      <p class="text-muted">不再漫無目的的浪費時間，任務系統提供符合兩者關係的挑戰，透過有趣的互動，讓你不再擔心無話可說，有效拉近彼此距離！</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-heart text-primary sr-icons margin-bottom-10"></i>
                      <h2>實體約會</h2>
                      <p class="text-muted">不再只是空中相會，系統幫你講出不好意思說的話，在好感度達到標準後，系統邀請雙方來場愉快的兩人約會，不讓害羞阻擋你的緣分!</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="service-box">
                      <i class="fa fa-4x fa-comments-o text-primary sr-icons  margin-bottom-10"></i>
                      <h2>我答你問</h2>
                      <p class="text-muted">打造屬於你的FAQ使用說明書，聊天不再只是安安幾歲住哪。接近前請詳閱公開說明書，讓我們聊點有意思的事情！</p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    </section>
    <!-- End Feature -->

    <section id="diip_story">
    <div class="container content" style="width: 90%">
          <ul class="timeline-v1">
            <li>
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <%= image_tag ("3.jpg"), class: "img-responsive" %>
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light">開始</h2>
                  <p style="font-size: 16px">故事都是從一個不經意的舉動開始，我想，願意嘗試去追求自己的幸福也是一種勇氣吧。恩...這些系統預設的問題也太奇怪了吧，什麼叫"<em>如果你明天一早醒來，你可以增加一個技能或能力，你希望是什麼？</em>"，好吧，那我想要可以跟女生持續講話10分鐘的能力。</p>
                  <span class="testimonials-author" style="float: right;">
                    Alex <em>31歲 ＠台北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/03</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>0</a>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <%= image_tag ("woman.jpg"), class: "img-responsive" %>
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light"><a href="#">偶然</a></h2>
                  <p style="font-size: 16px">哈哈哈，這個人的Q&A好好笑喔，難道他沒有跟女生講過話，都31歲了不會還是個宅宅魔法師吧，那我就大慈大悲的來解救一下你吧</p>
                  <span class="testimonials-author" style="float: right;">
                    Mandy <em>28歲 ＠新北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/05</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>5</a>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge primarya"><i class="glyphicon glyphicon-record"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <div class="carousel slide carousel-v1" id="myCarousel">
                    <div class="carousel-inner">
                      <div class="item">
                        <%= image_tag ("13.jpg"), class: "img-responsive" %>
                        <div class="carousel-caption">
                          <p>任務：找到三個雙方的共同點</p>
                        </div>
                      </div>
                      <div class="item">
                        <%= image_tag ("7.jpg"), class: "img-responsive" %>
                        <div class="carousel-caption">
                          <p>任務：上傳三張你工作周邊的照片，讓對方猜猜你的工作</p>
                        </div>
                      </div>
                      <div class="item active">
                        <%= image_tag ("12.jpg"), class: "img-responsive" %>
                        <div class="carousel-caption">
                          <p>任務：錄下30秒的聲音，目標是對方設為鈴聲後，明天可以準時起床</p>
                        </div>
                      </div>
                    </div>

                    <div class="carousel-arrow">
                      <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                        <i class="fa fa-angle-left"></i>
                      </a>
                      <a data-slide="next" href="#myCarousel" class="right carousel-control">
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light"><a href="#">任務</a></h2>
                  <p style="font-size: 16px">對方也認養了一隻米克斯耶，會養狗的人最有愛心了。而且看起來應該是一位設計師，一定很有氣質，更重要的是聲音好甜美喔！ : )</p>
                  <span class="testimonials-author" style="float: right;">
                    Alex <em>31歲 ＠台北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/17</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>47</a>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <%= image_tag ("20.jpg"), class: "img-responsive" %>
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light"><a href="#">見面</a></h2>
                  <p style="font-size: 16px">"<em>任務：找間咖啡店，一起享受個悠閒的下午茶時光吧</em>"不知不覺我跟他的系統好感度已經到達60了耶，我怎麼覺得才過一陣子而已，但是我好像還沒有看過他長什麼樣子，希望不要是一見面就得準備回家刪好友。</p>
                  <span class="testimonials-author" style="float: right;">
                    Mandy <em>28歲 ＠新北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/17</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>60</a>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <%= image_tag ("4.jpg"), class: "img-responsive" %>
                </div>
                <div class="timeline-body text-justify">
                  <h2 class="font-light">相處</h2>
                  <p style="font-size: 16px">她跟我想得一樣是個開朗又活潑的人，之前看她的問答說明，總是看到笑出來，而且執行任務的時候也總是古靈精怪的，我怎麼好像有一點點喜歡她。</p>
                  <span class="testimonials-author" style="float: right;">
                    Alex <em>31歲 ＠台北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer primary">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i> 2016/08/23</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>78</a>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-badge primary"><i class="glyphicon glyphicon-record invert"></i></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <!-- 16:9 aspect ratio -->
                  <div class="embed-responsive embed-responsive-16by9">
                    <%= image_tag ("5.jpg"), class: "img-responsive" %>
                  </div>
                </div>
                <div class="timeline-body">
                  <h2 class="font-light">新章</h2>
                  <p  style="font-size: 16px">我們好像就剩下最後一個任務還沒有完成 "<em>最後任務：你覺得對方適合當朋友還是情人</em>"，他的選擇是？</p>
                  <span class="testimonials-author" style="float: right;">
                    Mandy <em>28歲 ＠新北</em>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="timeline-footer primary">
                  <ul class="list-unstyled list-inline blog-info">
                    <li><i class="fa fa-clock-o"></i>  2016/08/30</li>
                  </ul>
                  <a class="likes" href="#"><i class="fa fa-heart"></i>95</a>
                </div>
              </div>
            </li>
            <li class="clearfix" style="float: none;"></li>
          </ul>
    </div>
    </section>

    <!--=== Content Part ===-->
    <section id="diip_email">
    <div class="content no-padding">
      <!-- Flat Testimonials -->
      <div class="flat-testimonials bg-image-v2 bg-image-v2-dark parallaxBg1" style="background-position: 20% 20%;">
        <div class="container">
          <div class="headline-center-v2" style="margin:0 auto" >
            <h2 style="font-size: 55px;line-height: 60px;padding: 15px 30px;border: solid 4px #fff;    letter-spacing: 12px;width: 40%;margin:0px auto">即將上線</h2>
            <p class="margin-top-20" style="font-size: 20px;margin-bottom: 20px">第一波參與者將開放VIP功能，請留下<span class="text-highlights text-highlights-blue">信箱</span>，我們會在第一時間通知您</p>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
          </div><!--/end Headline Center-->
          <div class="headline-center-v2 col-md-6 col-md-offset-3">
            <!-- 電子豹 -->
            <script type="text/javascript">
            var submitted=false;
            </script>
            <iframe id="hidden_iframe" name="hidden_iframe" style="display: none;" onload="if(submitted) {window.location='http://david.alphastudio.io/thankyou.html';}">

            </iframe>
            <form action="http://www.newsleopard.com/mailverify.htm?x=00000000551129c801551fe0e9154599" target="hidden_iframe" method="post" onsubmit="submitted=true;" id="signup" data-toggle="validator" class="formsignup">
            <!-- End 電子豹 -->
            <div id="countdown" style="color: white;margin-top:20px"></div>
              <input type="email" name="email" id="mail" class="form-control margin-bottom-20" placeholder="填入您的Email" data-error="請輸入有效的Email">
              <button id="submit" value="送出" type="submit" class="signupButton btn-u btn-brd btn-brd-width-2 btn-brd-hover rounded-2x btn-u-white btn-u-lg" style="border-color: #FFF3D8; color: #FFF3D8;width:100%">登錄</button>
            </div>
            </form>
          </div>
        </div><!--/end container-->
      </div>
    </div>
    </section>
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
      <div class="copyright">
        <div class="container" style="line-height: 1">
          <div class="row">
            <!-- Social Links -->
            <div class="pull-left">
              <ul class="footer-socials list-inline" style="margin-left:5px">
                <li>
                  <p> 聯繫我們：exlimit01@gmail.com</p>
                </li>
                <li>
                  |
                </li>
                <li>
                  <a href="https://www.facebook.com/DIIP.MakeFriends/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook" target="_blank">
                    <button style="margin-left: -13px;background-color:#FFFFFF;padding:2px;border:0px"><i class="fa fa-facebook"></i> FB</button>
                  </a>
                </li>
              </ul>
            </div>
            <!-- End Social Links -->
        </div>
      </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
  </div><!--/wrapper-->



<!--  -->
<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
  <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
    <ul class="cd-switcher">
      <li><a href="javascript:void(0);">Login</a></li>
      <li><a href="javascript:void(0);">Register</a></li>
    </ul>

    <div class="cd-login"> <!-- log in form -->
      <div class="cd-form">
        <div>
          <%= render "devise/sessions/new" %>
        </div>
      </div>
      <!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
    </div> <!-- cd-login -->

    <div class="cd-signup" style="margin-top:-55px"> <!-- sign up form -->
      <div class="cd-form">

        <div class="lined-text"><span>或者註冊您的帳號</span><hr></div>

        <%= render "devise/registrations/new" %>
      </div>

      <!-- <a href="javascript:void(0);" class="cd-close-form">Close</a> -->
    </div> <!-- cd-signup -->

    <a href="javascript:void(0);" class="cd-close-form">Close</a>
  </div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->
<!--  -->

</body>
</html>
