<%= form_for [@profile, @answer], test: "test" do |f| %>
  <% if @answer.errors.any? %>
    <% @answer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>

  <%= f.collection_select :question_id, Question.all, :id, :content %>

  <%= f.label :content, "回答" %> <br>
  <%= f.text_area :content, class: "form-control" %>

  <%= f.submit "確定", class: "btn-u" %>

<% end %>

<script>
  $("#answer_question_id").addClass("form-control qa_list");
</script>