
<%= form_for [@profile, @answer] do |f| %>
  <% if @answer.errors.any? %>
    <% @answer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>

  <%= f.collection_select :question_id, Question.all, :id, :content, :class => "form-control", :prompt => "請選擇" %>

    <%= f.label :content, "回答" %>
    <%= f.text_area :content %>

    <%= f.submit "確定" %>

<% end %>

