<!DOCTYPE html>
<html>
  <head>
    <title>DIIP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <%= favicon_link_tag "favicon.ico", type: 'image/png'%>

  </head>

  <body>

    <%# if @show_nitification.present? %>
      <%#= render partial: "shared/notification" %>
    <%# end %>

    <div class="wrapper">
      <!--=== Header ===-->
      <div class="header">
        <div class="container col-md-10 col-md-offset-1" style="height:75px">
          <!-- Logo -->
          <div class="pull-left" style="margin-left: 5px">
            <a class="logo" href="#">
              <%= image_tag ("diip_logo.png"), style: "max-width: 70px;position: relative;top: 1em;" %>
            </a>
          </div>
          <!-- End Logo -->

          <div style="display:inline-block; margin-left: 10px;height: 53px;width:30vw;margin-top:5px">
              <div>
                <% if flash[:notice].present? %>
                  <div class="alert alert-success">
                    <%= flash[:notice] %>
                  </div>
                <% end %>
                <% if flash[:alert].present? %>
                  <div class="alert alert-danger">
                    <%= flash[:alert] %>
                  </div>
                <% end %>
              </div>
          </div>

        </div><!--/end container-->
      </div>
      <!--=== End Header ===-->
    <div class="container col-md-12">
      <%= yield %>
    </div>
  </div>
  <!-- End Wrap -->
  </body>
</html>
